.navbar {
  height: 100%;
  width: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-gray-3);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
  }

  &:hover .linkIcon {
    color: var(--mantine-color-black);
  }

  &[data-active] {
    background-color: var(--mantine-color-orange-light);
    color: var(--mantine-color-orange-light-color);
  }

  &[data-active] .linkIcon {
    color: var(--mantine-color-orange-light-color);
  }

  &[data-active]:hover {
    background-color: var(--mantine-color-orange-light);
    color: var(--mantine-color-orange-light-color);
  }

  &[data-active]:hover .linkIcon {
    color: var(--mantine-color-orange-light-color);
  }
}

.linkIcon {
  color: var(--mantine-color-gray-6);
  margin-right: var(--mantine-spacing-sm);
  width: 20px;
  height: 20px;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-gray-6);

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.collapsedNavbar {
  width: 100%;
  padding: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  height: 100%;
}

.collapsedLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);

  &:hover {
    background-color: var(--mantine-color-gray-0);
  }

  &:hover .linkIcon {
    color: var(--mantine-color-black);
  }

  &[data-active] {
    background-color: var(--mantine-color-orange-light);
  }

  &[data-active] .linkIcon {
    color: var(--mantine-color-orange-light-color);
  }
}

.collapsedLinkIcon {
  color: var(--mantine-color-gray-6);
  width: 24px;
  height: 24px;
}
